.Home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Home .container{
  background: #fff;
  width: 920px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  border-radius: 0.25rem;
}
